<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <nav class="py-2 bg-body-tertiary border-bottom">
    <div class="container d-flex flex-wrap">
      <ul class="nav me-auto">
        <li class="nav-item"><a href="/" class="nav-link link-body-emphasis px-2 active" aria-current="page"><ya-tr-span data-index="29-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Home" data-translation="Главная" data-ch="1" data-type="trSpan" style="visibility: inherit !important;">Главная</ya-tr-span></a></li>
        <li class="nav-item"><a href="/posts" class="nav-link link-body-emphasis px-2"><ya-tr-span data-index="31-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Pricing" data-translation="Цены" data-ch="1" data-type="trSpan" style="visibility: inherit !important;">Все статьи</ya-tr-span></a></li>
        <li class="nav-item"><a href="/create-article" class="nav-link link-body-emphasis px-2"><ya-tr-span data-index="32-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="FAQs" data-translation="Вопросы и ответы" data-ch="1" data-type="trSpan" style="visibility: inherit !important;">Создать статью</ya-tr-span></a></li>
        <li class="nav-item"><a href="/about" class="nav-link link-body-emphasis px-2"><ya-tr-span data-index="33-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="About" data-translation="О нас" data-ch="1" data-type="trSpan" style="visibility: inherit !important;">О нас</ya-tr-span></a></li>
      </ul>
    </div>
  </nav>

    <header class="py-3 mb-4 border-bottom">
        <div class="container d-flex flex-wrap justify-content-center">
            <a class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto link-body-emphasis text-decoration-none">
                <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
                <span class="fs-4"><ya-tr-span data-index="36-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Double header" data-translation="Двойной заголовок" data-ch="0" data-type="trSpan" style="visibility: inherit !important;">{% block headers %}{% endblock %}</ya-tr-span></span>
            </a>
            <form class="col-12 col-lg-auto mb-3 mb-lg-0" action="/search" method="post">
                <input name="word" id="word" type="search" class="form-control" placeholder="Поиск..." aria-label="Поиск">
                <input type="submit" class="btn btn-success" value="Найти">
            </form>
        </div>
    </header>

  {% block body %}{% endblock %}

  <div class="container">
  <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="/" class="nav-link px-2 text-body-secondary"><ya-tr-span data-index="8-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Home" data-translation="Главная" data-ch="1" data-type="trSpan" style="visibility: inherit !important;">Главная</ya-tr-span></a></li>
      <li class="nav-item"><a href="/posts" class="nav-link px-2 text-body-secondary"><ya-tr-span data-index="9-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Features" data-translation="Характеристики" data-ch="1" data-type="trSpan" style="visibility: inherit !important;">Все статьи</ya-tr-span></a></li>
      <li class="nav-item"><a href="/about" class="nav-link px-2 text-body-secondary"><ya-tr-span data-index="12-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="About" data-translation="О нас" data-ch="1" data-type="trSpan" style="visibility: inherit !important;">О нас</ya-tr-span></a></li>
    </ul>
    <p class="text-center text-body-secondary"><ya-tr-span data-index="13-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="© 2024 Company, Inc" data-translation="© 2024 Company, Inc" data-ch="1" data-type="trSpan" style="visibility: inherit !important;">© 2024 Company, Inc</ya-tr-span></p>
  </footer>
  </div>

</body>
</html>
